<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="notification is-primary">
        <h1>Comentário</h1>
        <li>Coloque aqui suas fofocas!</li>
      </div>
    </div>

      <section class="section">
        <form action="/add_comentario" method="POST">
          <input type="text" placeholder="Digite seu comentario" name="comentario">
          <button type="submit" class="button">Enviar</button>
        </form>
      </section>

      <section class="section">
        {% for comentario in lista_comentario %}
        <div class="box">
          <span>{{comentario}}</span>
        </div>
        {% endfor %}
      </section>

</body>
</html>